{% set hero_image = page.media.images|first %}

<a class="card-link" href="{{ page.url }}">
            <article class="blog-card">
            <img alt="{{ hero_image.meta.alt|striptags }}" src="{{ hero_image.cropZoom(350,250).url|raw }}" class="post-image">
              <div class="post-details">
                <h4 class="post-meta">{{ page.date|date("d.m.Y") }}</h4>
                <h2 class="post-title">{{ page.title }}</h2>
                <p class="post-description">
                  {{ page.summary | striptags }}
                </p>
                <p class="post-tags">{% for tag in page.taxonomy.tag %}<span href="{{ theme_config.blog.slug }}/tag:{{tag}}">{{ tag }}</span>&ensp;{% endfor %}</p>
              </div>
            </article>
          </a>
