{% extends 'partials/base.html.twig' %}
{% set hero_image = page.media.images|first %}

	{% block content %}
    <article class="post">
        <h2>{{ page.title }}</h2>
        <div class="meta">
        <p>{{ page.date|date("d.m.Y H:i") }}</p>
        <p>Tagi: {% for tag in page.taxonomy.tag %}<a href="{{ theme_config.blog.slug }}/tag:{{tag}}">{{ tag }}</a>&ensp;{% endfor %}</p>
        </div>
        {{ page.content | raw }}
    </article>
    {% if not page.header.disableSharing %}
        {% include 'partials/share.html.twig' %}
    {% endif %}
        {% include 'partials/comments.html.twig' %}
    {% endblock %}